<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DONUT</title>
    <link rel="stylesheet" href="../index.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <a href="../index.html">
                <img src="../media/DONUT.svg" alt="" class="main-header-logo">
            </a>
            <ul class="main-menu">
                <li class=" "><a class="header-item header-item-active" href="../index.html">inicio</a></li>
                <li class=" "><a class="header-item header-item-active" href="./tienda.html">tienda</a></li>
                <li class=" "><a class="header-item header-item-active" href="">info</a></li>
                <li class=" "><a class="header-item header-item-active" href="">login</a></li>
            </ul>
        </nav>    
    </header>
 <main class="container">
     <section id="cards">
             <article class="card">
                    <img src="../media/pinkdonut.svg" alt="">             
            <div class="div">
                <h2 class="card-title">ROMAAAAAAAAAA</h2>
                <h3 class="card-description">Rellena de sabor y de chispas de chocolate esta dona es una de las mejores del mercado.</h3>
                <p class="card-info">La compañera mas leal de tu cafe!</p>
             </article>   
            </div>        
            <article class="card">
                  <img src="../media/chocolatedonut.svg" alt="">            
          <div class="div">
              <h2 class="card-title">CHOCOLATE</h2>
              <h3 class="card-description">Rellena de sabor y de chispas de chocolate esta dona es una de las mejores del mercado.</h3>
              <p class="card-info">La compañera mas leal de tu cafe!</p>
            </article>
          </div> 
         <article class="card">
              <img src="../media/pinkdonut.svg" alt="">         
      <div class="div">
          <h2 class="card-title">oliiiii</h2>
          <h3 class="card-description">Rellena de sabor y de chispas de chocolate esta dona es una de las mejores del mercado.</h3>
          <p class="card-info">La compañera mas leal de tu cafe!</p>
         </article>
      </div>
      <article class="card">
        <img src="../media/chocolatedonut.svg" alt="">            
<div class="div">
    <h2 class="card-title">CHOCOLATE</h2>
    <h3 class="card-description">Rellena de sabor y de chispas de chocolate esta dona es una de las mejores del mercado.</h3>
    <p class="card-info">La compañera mas leal de tu cafe!</p>
  </article>
</div> 
     </section>
</main>
</body>
</html>